body {
  font-family: "EB Garamond", serif;
}

.carousel-height {
  height: 700px;
}

.carousel-item img {
  height: 700px;
  width: 100%;
  image-resolution: 100%;
}

.top-3 {
  position: relative;
  bottom: 50px;
  background-color: aqua;
  box-shadow: 5px 25px 15px rgba(0, 255, 255, 0.212);
}

.spacial-top {
  position: absolute;
  background-color: aqua;
  width: 60px;
  padding: 5px;
  border-radius: 5px;
  top: -10px;
  right: 30px;
}

.fa-check-circle {
  color: aqua;
}
