body {
  font-family: "EB Garamond", serif;
}

#card-3 {
  position: relative;
  background-color: lavender;
}

#card-3-top {
  position: absolute;
  top: -15px;
  right: 30px;
  padding: 7px;
  border-radius: 25px;
  background-color: rgb(236, 27, 97);
  color: white;
}
